<div class="container">
    <div class="container__right-text">
        <div>
            <div class="container__right-text-image">
                <img src="{{firstImageRight}}" alt="black hat">
                <div class="container__right-text-image-discription">
                    <h1>{{firstH1Right}}</h1>
                    <p>
                        {{firstPright}}
                    </p>
                </div>
            </div>
            
            <div class="container__right-text-image">
                <img src="{{secondImageRight}}" alt="white hat">
                <div class="container__right-text-image-discription">
                    <h1>{{secondH1Right}}</h1>
                    <p>
                        {{secondPright}}
                    </p>
                </div>
            </div>
            
            <div class="container__right-text-image">
                <img src="{{thirdImageRight}}" alt="white hat">
                <div class="container__right-text-image-discription">
                    <h1>{{thirdH1Right}}</h1>
                    <p>
                        {{thirdPright}}
                    </p>
                </div>
            </div>
        </div>         
    </div>
</div>
