.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    width: 1150px;
}

.container__right-left-card {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.container__right-card {
    display: flex;
    flex-direction: column;
}

.container__middle-down {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}
