<div class="container">
    <div class="container__left-text">
        <img src="https://www.bosch.com.br/media/stories/aiot/cyber_security/cyber_security_bosch_1_res_800x450.webp" alt="security photo">

        <div class="container__left-text-discription">
            <h1>Why Learning about cybersecurity</h1>
            <p>
                Learning cybersecurity will strengthen business security and protect customers' 
                data. A strong cybersecurity system will promote trust and retain customers. 
                As cyberattacks are growing more and more sophisticated, constantly learning and 
                sharpening your skills in the field has become paramount.
            </p>
        </div>
    </div>

    <div class="container__right-text">

    </div>
</div>
